.video-carousel-container {
  position:absolute;
    width: 95%;
    margin: 0 auto;
    top:5087px;
    margin-left:46px;
  }
  
  .video-slide {
    padding: 0 10px;
  }
  
  .video-slide iframe {
    width: 100%;
    height: 600px;
  }
  