.main {
width: 1920px;
height: 3890px;
left: 0px;
top: 1278px;
background: #FFFFFF;
}
.sub-div1{
position: absolute;
width: 1326px;
height: 144px;
left: 297px;
top: 1378px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 72px;
text-align: center;
letter-spacing: -0.05em;
color: #040404;
}
.sub-div2{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 140px;
position: absolute;
width: 1596px;
height: 496px;
left: 162px;
top: 1610px;
}
.sub-div2a{ 
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;
width: 1596px;
height: 204px;
flex: none;
order: 0;
flex-grow: 0;

}
.section-A{
width: 1596px;
height: 124px;
flex: none;
order: 0;
flex-grow: 0;
align-items: center;
}
.A1{
    position: absolute;
    width: 321px;
    height: 108px;
    left: 0px;
    top: 0px;
    }
#a1{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 0px;
    top: 0px;
    }
#a2{
    position: absolute;
    width: 321px;
    height: 72px;
    left: 0px;
    top: 36px;
    font-family: 'Haffer SQ XH';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #040404;
}
.a3{
position: absolute;
width: 86px;
height: 0px;
left: 373px;
top: 35px;
border: 1px solid #E0E0E0;
transform: rotate(90deg);


}
.A2{
    position: absolute;
    width: 321px;
    height: 108px;
    left: 130px;
    top: 0px;
    }
#b1{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 250px;
    top: 0px;
    }
#b2{
    position: absolute;
    width: 321px;
    height: 72px;
    left:250px;
    top: 36px;
    font-family: 'Haffer SQ XH';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    }
#b3{
position: absolute;
width: 86px;
height: 0px;
left: 665px;
top: 35px;
border: 1px solid #E0E0E0;
transform: rotate(90deg);

    }
.A3{
    position: absolute;
    width: 321px;
    height: 108px;
    left:165px;
    top: 0px;
        }
#c1{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 600px;
    top: 0px;
    font-family: 'Haffer SQ XH';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
    }
#c2{
    position: absolute;
    width: 321px;
    height: 72px;
    left: 600px;
    top: 36px;
    font-family: 'Haffer SQ XH';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #040404;
    }
#c3{
position: absolute;
width: 86px;
height: 0px;
left: 1070px;
top: 35px;
border: 1px solid #E0E0E0;
transform: rotate(90deg);
}
.A4{
position: absolute;
width: 321px;
height: 108px;
left: -77px;
top: 0px;
    }
#d1{
position: absolute;
width: 27px;
height: 28px;
left: 1275px;
top: 0px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #333333;
    }
#d2{
position: absolute;
width: 321px;
height: 72px;
left: 1275px;
top: 36px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #040404;
    }
.Section-B{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 1056px;
height: 152px;
margin-top:-116px;
flex: none;
order: 1;
flex-grow: 0;
}
.B1{
width: 1056px;
height: 48px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
text-align: center;
letter-spacing: -0.05em;
color: #040404;
flex: none;
order: 0;
flex-grow: 0;
}
.B2{
width: 1056px;
height: 72px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #333333;
flex: none;
order: 1;
flex-grow: 0;  
}
.sub-div3{
position: absolute;
width: 1602px;
height: 754px;
left: 162px;
top: 2206px;
}
.outer{
    width: 1326px;
    height: 1644px;
    left: calc(50% - 1326px/2);
    top: 3160px;
    }
.data{
position: absolute;
width: 1326px;
height: 84px;
left: calc(50% - 1326px/2);
top: 5432px;
font-family: 'Haffer SQ XH';
font-style: normal;
font-weight: 400;
font-size: 74px;
line-height: 84px;
text-align: center;
letter-spacing: -0.05em;
color: #FFFFFF;
margin-top: -596px !important;
    }
.video{
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 24px;

width: 4026px;
height: 600px;
left: -1053px;
top: 5604px;
}